*{
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
   padding:0px;
   margin:0px;
   font-family: 'Rokkitt', serif;
}
   html {
     scroll-behavior: smooth;
    }
   body{
       float: left;
       width: 100%;
       background-color: #000000;
   }
   #greater_then_mobile{
    display: block;
    visibility:visible;
}
.privacy_page_section{
    display: grid;
    grid-template-columns: 0.2fr 8fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}
   /* Header start */
   header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 100%;
}
header .nav_plus_shooping .nav_icon i{
    color: #FFFFFF;
    padding-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
header .nav_plus_shooping .shopping_cart i{
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    padding-bottom: 20px;
}
header .logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:15px 0px;
    width: 100%;
}
header .logo span{
    writing-mode: vertical-rl;
    font-size: 22px;
   color: rgba(198, 198, 198, 0.14);
   padding: 5px 0px;
   line-height: 16px;
   text-transform: uppercase;
}
header .logo .logo_middle_part{
    color: #FFFFFF;
   display: flex;
   font-size: 29px;
}
header .logo .logo_middle_part small{
    transform: rotate(270deg);
    padding: 7px 0px;
}
header .insta_icon i{
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
}
/* Header End */ 

/* login form start*/
.privacy_container{
    max-width: 1070px;
    margin: 0px auto;
 }


.privacy_body_section{
float: left;
width: 100%;
padding: 0px 30px;
margin: 0;
margin-top: 40px;

}

.privacy_body_section .privacy_section_heading{
float: left;
width: 100%;
margin-bottom: 10px;
}
.privacy_body_section .privacy_section_heading h3{
margin-bottom: 60px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
width: 100%;
font-size: 44px;
font-style: normal;
color: #FFFFFF;
font-weight: 500;
line-height: 48px;
}
.privacy_section_contact_detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.privacy_section_contact_fields{
    margin-bottom: 20px;
    text-align: center;
}
.privacy_section_contact_detail .privacy_section_contact_fields p{

    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}
.privacy_red_color{
color: #DD2121 !important;
}
.privacy_down_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.privacy_down_arrow a{
    text-decoration: none;
    color: #FFFFFF;
   font-size: 35px;
}
/* login form end */




/* Mobile Screen home page start */

.Mobile_home_section{
    display: none;
    visibility: hidden;
    }
    
    /* header start */
    .mobile_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
    }
    .mobile_header .logo a{
        text-decoration: none;
    }
    .mobile_header .shopping_cart i{
        color: #FFFFFF;
        font-size: 20px;
        cursor: pointer;
    }
    .mobile_header .nav_icon i{
        color: #FFFFFF;
        font-size: 20px;
        cursor: pointer;
    }
      /* header end */

     
/* Mobile Screen home page end */      

/* RESPONSIVE */

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
   

}
@media (max-width: 767px){
    
}
@media (max-width: 540px){
    .Mobile_home_section{
       display: block;
       visibility: visible;
    }
    #greater_then_mobile{
        display: none;
        visibility:hidden;
    }
    .privacy_body_section {
     padding: 0px 10px;
    }

   
}