*{
    -web-kit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
   padding:0px;
   margin:0px;
   font-family: 'Rokkitt', serif;
}
   html {
     scroll-behavior: smooth;
    }
   body{
       float: left;
       width: 100%;
   }
   .home_page_section{
background-color: #C0C0C0;
height: 100vh;
width: 100%;
display: flex;
justify-content: space-between;
}


    header{
        display: flex;
        justify-content: space-between;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        border-right: 1px solid #000000;
        margin-right: 30px;
    }
    header .nav_plus_shooping .nav_icon i{
        color: #000000;
        padding-bottom: 17px;
    }
    header .logo{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    header .logo span{
        writing-mode: vertical-rl;
        font-size: 22px;
       color: rgba(0, 0, 0, 0.08);
       padding: 5px 0px;
       line-height: 16px;
       text-transform: uppercase;
    }
    header .logo .logo_middle_part{
       color: #000000;
       letter-spacing: 9px;
       display: flex;
       font-size: 29px;
    }
    header .logo .logo_middle_part small{
        transform: rotate(270deg);
    }
    .home_page_body{
        align-items: center;
        gap: 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    .home_page_body .home_page_slider figure{
        overflow-y: hidden;
        height: 100vh;
    }
    .home_page_body .home_page_slider figure img{
       height: 100%;
       width: 100%;
      }
      .explore_new{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 300px;
        }
      .explore_new span{
          color: #000000;
          font-size: 18px;
          padding-bottom: 10px;
      }
      .explore_new figure{
        position: relative;
      }
      .explore_new figure:after{
        position: absolute;
        content: "";
        background-color: #000000;
        padding: 14px;
        top: -6px;
        border-radius: 50px;
        opacity: 0.5;
        right: -9px;
      }
   

     .home_page_footer{
        display: flex;
        justify-content: space-between;
        height: 100vh;
        margin-left: 30px;
        align-items: center;
    }

    
     .home_page_footer .footer_content{
        height: 100vh;
        padding: 20px 20px;
        border-left: 1px solid black;
    }
   
     .home_page_footer .footer_content a{
        text-decoration: none;   
      writing-mode: vertical-rl;
      color: #000000;
       text-decoration: none;
       }

    /*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .home_page_section {
    display: grid; 
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-template-rows: auto; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . ."; 
    }
}